@font-face {
    font-family: Mori;
    src: url(../assets/PPMori-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

header {
    background-color: #d4869c;
    height: 3.5rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}


.links ul, .login{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a {
    color: white;
    font-family: Mori;
    font-size: 1.2rem;
}

.login button {
    cursor: pointer;
    font-family: Mori;
    font-size: 20px;
    color: white;
    background-color: #d4869c;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 3px;

}

.login button:hover {
    color: brown;
}

nav img {
    border-left: 2px solid white;
    padding-left: 20px;
}
